# dependencies
node_modules/
.pnp
.pnp.js
.pnp.cjs

# testing
coverage/

# next.js
.next/
out/

# production
build/
dist/

# misc
*.log
npm-debug.log*

# environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# debug
.debug/

# PWA
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map
public/swe-worker-*.js

# Firebase
.firebase/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
